/* purgecss start ignore */
@tailwind base;

/* Most of your custom classes and styles should go right down here ⬇️
   (Things like @font-face declarations, styles for `h1`, `p`, etc.)
*/

h1 {
  @apply text-4xl font-bold font-display mb-6;
}

p {
  @apply mb-6;
}

a {
  @apply text-blue-700;
}

a:hover,
a:focus {
  @apply underline;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Custom Classes */

.product {
  @apply mx-auto overflow-hidden rounded shadow-lg mb-6;
}

.prd-tag {
  @apply px-3 py-1 text-sm font-semibold rounded-full;
}

.story-section {
  @apply flex flex-row flex-1 mr-8;
}

.tooltip .tooltip-text {
  @apply border-solid border-secondary border-2 invisible p-2 absolute z-50 inline-block text-sm w-32 text-center rounded-lg shadow-sm bg-white text-primary;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

.head-3 {
 @apply py-4 mb-2 text-xl font-bold;
}